.active{
    background-color: rgb(69, 69, 252);
    color: #fff;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.219);
    transition: 0.4s ease-in;
}
.activeSidebar{
        transform: translateX(0rem) !important;
    }

